<%- include("partials/header.ejs") %>

<!-- Random Brewery -->
<div class="contaniner" id="content">
  <% if (breweryData) { %>
  <div class="card" id="random-brewery">
    <ul>
      <li>Name: <%= breweryData.name %></li>
      <li>Location: <%= breweryData.location %></li>
      <li>Website: <%= breweryData.website %></li>
    </ul>
  </div>
  <% } else { %>
  <div class="container" id="globe-image">
    <img src="/images/globe.png" width="200px" alt="Icon of the globe" />
  </div>
  <% } %>
  <form action="/random" method="POST" class="btn">
    <button id="random-btn" type="submit">A random place to discover ☝</button>
  </form>
</div>

<%- include("partials/footer.ejs") %>
